.div8 {
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.container {
  position: absolute;
  top: 13px;
  left: 329px;
  width: 915px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 75px;
}
.black-icon {
  position: absolute;
  height: 100%;
  width: 20.74%;
  top: 0;
  right: 79.26%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bitseller7,
.black-parent {
  position: absolute;
  top: 0;
  left: 70px;
}
.black-parent {
  height: 100%;
  width: 21.7%;
  right: 78.3%;
  bottom: 0;
  left: 0;
  font-size: 45px;
}
.div7 {
  position: relative;
  width: 1244px;
  height: 56px;
  font-size: var(--font-size-6xl);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 402px;
  height: 70px;
}
.div13 {
  position: absolute;
  top: 16px;
  left: 109px;
  font-weight: 600;
}
.group-item,
.rectangle-parent {
  position: absolute;
  width: 402px;
  height: 70px;
}
.rectangle-parent {
  top: 505px;
  left: 422px;
  cursor: pointer;
}
.group-item {
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
}
.div14 {
  position: absolute;
  top: 16px;
  left: 64px;
  font-weight: 600;
}
.rectangle-group {
  top: 505px;
  width: 402px;
  height: 70px;
  cursor: pointer;
  color: var(--color-black);
}
.b,
.b1,
.rectangle-group {
  position: absolute;
  left: 0;
}
.b {
  top: 36px;
  font-size: var(--font-size-51xl);
  display: inline-block;
  width: 824px;
}
.b1 {
  top: 347px;
  font-size: var(--font-size-16xl);
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 875px;
  width: 369px;
  height: 377.98px;
  object-fit: cover;
}
.div12 {
  position: relative;
  width: 1244px;
  height: 575px;
  font-size: var(--font-size-11xl);
}
.b2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-51xl);
  text-transform: uppercase;
}
.child,
.inner,
.item,
.rectangle-div {
  position: absolute;
  top: 135px;
  left: 4px;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 610px;
  height: 350px;
}
.inner,
.item,
.rectangle-div {
  left: 634px;
}
.inner,
.rectangle-div {
  top: 535px;
  left: 4px;
}
.rectangle-div {
  left: 634px;
}
.black-icon1,
.black-icon2 {
  position: absolute;
  height: 6.76%;
  width: 6.19%;
  top: 68.25%;
  right: 35.77%;
  bottom: 24.99%;
  left: 58.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.black-icon2 {
  height: 8.7%;
  top: 22.37%;
  bottom: 68.93%;
}
.b3,
.div16 {
  position: absolute;
  display: inline-block;
}
.b3 {
  top: 183px;
  left: 823px;
  line-height: 89.9%;
  width: 373px;
}
.div16 {
  top: 318px;
  left: 722px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  width: 399px;
}
.black-icon3 {
  position: absolute;
  height: 78.67%;
  width: 14.1%;
  top: 11.22%;
  right: 85.9%;
  bottom: 10.1%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b4 {
  position: absolute;
  top: 0;
  left: 106px;
  display: inline-block;
  width: 440px;
}
.black-group {
  position: absolute;
  height: 11.07%;
  width: 43.89%;
  top: 67.8%;
  right: 48.95%;
  bottom: 21.13%;
  left: 7.15%;
}
.b5,
.div17,
.div18 {
  position: absolute;
  display: inline-block;
}
.div17 {
  top: 725px;
  left: 89px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  width: 353px;
}
.b5,
.div18 {
  top: 585px;
  left: 821px;
  width: 400px;
}
.div18 {
  top: 710px;
  left: 722px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  width: 457px;
}
.black-icon4 {
  position: absolute;
  height: 10.01%;
  width: 6.19%;
  top: 21.81%;
  right: 86.66%;
  bottom: 68.18%;
  left: 7.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b6,
.div19 {
  position: absolute;
  top: 212px;
  left: 195px;
}
.div19 {
  top: 302px;
  left: 89px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 391px;
}
.div15 {
  position: relative;
  width: 1244px;
  height: 885px;
}
.b7,
.child1 {
  position: absolute;
}
.b7 {
  top: 0;
  left: 1px;
  font-size: var(--font-size-51xl);
  text-transform: uppercase;
}
.child1 {
  top: 135px;
  left: 0;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1240px;
  height: 250px;
}
.b8 {
  top: 192px;
  left: 315px;
  display: inline-block;
  width: 533px;
}
.b8,
.b9,
.div21 {
  position: absolute;
}
.div21 {
  top: 256px;
  left: 315px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 819px;
}
.b9 {
  top: 135px;
  left: 11px;
  font-size: 205.88px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.group-inner {
  border-radius: var(--br-mini);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1240px;
  height: 250px;
}
.b10,
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.div22 {
  top: 64px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 758px;
}
.b11,
.div22,
.group-div {
  position: absolute;
}
.group-div {
  top: 69px;
  left: 86px;
  width: 758px;
  height: 112px;
}
.b11 {
  top: 0;
  left: 970px;
  font-size: 205.88px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.group-child1,
.rectangle-container {
  position: absolute;
  top: 426px;
  left: 0;
  width: 1240px;
  height: 251px;
}
.group-child1 {
  top: 1px;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 250px;
}
.api {
  top: 64px;
  left: 1px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 798px;
}
.api,
.b13,
.parent1 {
  position: absolute;
}
.parent1 {
  top: 70px;
  left: 315px;
  width: 799px;
  height: 112px;
}
.b13 {
  top: 0;
  left: 1px;
  font-size: 205.88px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.child2,
.rectangle-parent1 {
  position: absolute;
  top: 717px;
  left: 0;
  width: 1240px;
  height: 251px;
}
.child2 {
  top: 1009px;
  border-radius: var(--br-mini);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.4);
  border: 3px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 250px;
}
.div23 {
  top: 64px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 755px;
}
.b15,
.div23,
.parent2 {
  position: absolute;
}
.parent2 {
  top: 1078px;
  left: 86px;
  width: 755px;
  height: 112px;
}
.b15 {
  top: 1008px;
  left: 958px;
  font-size: 205.88px;
  text-transform: uppercase;
  color: var(--color-gray-200);
}
.div20 {
  position: relative;
  width: 1240px;
  height: 1259px;
}
.child3,
.standard-quality-control-colla-icon {
  position: absolute;
  top: 155px;
  left: 0;
  border-radius: var(--br-mini);
  width: 1240px;
  height: 400px;
}
.standard-quality-control-colla-icon {
  object-fit: cover;
}
.child3 {
  background-color: var(--color-midnightblue);
}
.div25,
.parent3 {
  position: absolute;
  width: 1049px;
}
.div25 {
  top: 76px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
}
.parent3 {
  top: 261px;
  left: 110px;
  height: 187px;
}
.child4,
.closeup-of-golden-usd-coins-dr-icon {
  position: absolute;
  top: 605px;
  left: 0;
  border-radius: var(--br-mini);
  width: 1240px;
  height: 400px;
}
.closeup-of-golden-usd-coins-dr-icon {
  object-fit: cover;
}
.child4 {
  background-color: var(--color-midnightblue);
}
.parent4 {
  position: absolute;
  top: 730px;
  left: 110px;
  width: 1049px;
  height: 150px;
}
.application-contact-communicat-icon,
.child5 {
  position: absolute;
  top: 1055px;
  border-radius: var(--br-mini);
  height: 400px;
}
.application-contact-communicat-icon {
  left: -10px;
  width: 1250px;
  object-fit: cover;
}
.child5 {
  left: 0;
  background-color: var(--color-midnightblue);
  width: 1240px;
}
.parent5 {
  position: absolute;
  top: 1180px;
  left: 109px;
  width: 1049px;
  height: 150px;
}
.d-cryptocurrency-rendering-des-icon {
  position: absolute;
  top: 1505px;
  left: 4px;
  border-radius: var(--br-mini);
  width: 1240px;
  height: 400px;
  object-fit: cover;
}
.b20,
.child6 {
  position: absolute;
}
.child6 {
  top: 1505px;
  left: 4px;
  border-radius: var(--br-mini);
  background-color: var(--color-midnightblue);
  width: 1240px;
  height: 400px;
}
.b20 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 1135px;
}
.usdt-btc {
  margin: 0;
}
.usdt-btc-container {
  position: absolute;
  top: 137px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
  width: 1030px;
}
.parent6 {
  position: absolute;
  top: 1581px;
  left: 109px;
  width: 1135px;
  height: 248px;
}
.div24 {
  position: relative;
  width: 1244px;
  height: 1905px;
  font-size: var(--font-size-31xl);
}
.b21,
.div29 {
  position: absolute;
}
.b21 {
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.div29 {
  top: 135px;
  left: 4px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  display: inline-block;
  width: 1240px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10.27px;
  box-shadow: 0 2.7387096881866455px 8.22px rgba(0, 0, 0, 0.4);
  border: 2.1px solid var(--color-white);
  box-sizing: border-box;
  width: 849px;
  height: 829.14px;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  position: absolute;
  top: 52.04px;
  left: 58.2px;
  border-radius: 20.54px;
  background-color: var(--color-white);
  width: 732.6px;
  height: 68.47px;
}
.group-child4,
.group-child5,
.group-child6 {
  top: 147.89px;
}
.group-child5,
.group-child6 {
  top: 243.75px;
}
.group-child6 {
  top: 339.6px;
  height: 342.34px;
}
.div30,
.div31,
.div32,
.div33 {
  position: absolute;
  top: 69.15px;
  left: 130.09px;
  font-weight: 600;
}
.div31,
.div32,
.div33 {
  top: 165.01px;
}
.div32,
.div33 {
  top: 260.86px;
}
.div33 {
  top: 366.3px;
}
.group-child7 {
  position: absolute;
  top: 709.33px;
  left: 58.2px;
  border-radius: 34.23px;
  background-color: var(--color-white);
  width: 732.6px;
  height: 68.47px;
}
.div34 {
  position: absolute;
  top: 727.13px;
  left: 345.76px;
  font-weight: 600;
  color: var(--color-black);
}
.inner1,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 849px;
  height: 829.14px;
}
.inner1 {
  top: 299.38px;
  left: 4px;
  font-size: 27.39px;
  color: var(--color-darkgray);
}
.div28 {
  position: relative;
  width: 1244px;
  height: 1128.52px;
  font-size: var(--font-size-51xl);
}
.group {
  position: absolute;
  top: calc(50% - 3417px);
  left: calc(50% - 622px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
}
.child7 {
  top: calc(50% - 100px);
  left: calc(50% - 860px);
  background-color: #051d3b;
  width: 1720px;
  height: 200px;
}
.child7,
.div35,
.div36 {
  position: absolute;
}
.div36 {
  top: calc(50% - 29px);
  left: calc(50% - 618px);
  font-weight: 500;
  cursor: pointer;
}
.div35 {
  top: calc(50% + 3400px);
  left: calc(50% - 860px);
  width: 1720px;
  height: 200px;
  font-size: var(--font-size-11xl);
}
.div6 {
  position: relative;
  background-color: #000f44;
  width: 100%;
  height: 7200px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
